@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Open+Sans+Condensed:300,300i,700&subset=cyrillic,cyrillic-ext');

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: black;
    background-color: #ECEFF1;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #263238;
}

h1 {
    font-size: 45px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 5px;

}

.container-center {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
}

.container-login {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 0 15px;
    text-align: center;
}



/*Stations card style */
.card-body {
    border-radius: 15px;
}
.card {
    margin-bottom: 10px;
    border: none;
    background-color: #ECEFF1;
}
/*Buttons style */
.button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 20px;
    line-height: 45px;
    border-radius: 15px;
    margin: 10px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #263238;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .2s;
    border: none;
}

.button:hover {
    background: #cf373c;
    text-decoration: none;
    box-shadow: 0 15px 20px rgba(0,0,0,0.08);
    color: white;
    transform: translateY(-2px);
}

/*Forms style*/
form {
    margin-bottom: 0;
}

input,
textarea {
    outline: none;
}

input[type="text"] {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    padding: 10px;
    color: #212529;
    border: 1px solid #212529;
    border-radius: 10px;
    background-color: white;
    width: 40%;
    margin-bottom: 5px;
    text-align: center;
}

input[type="text"]:focus {
    background-color: white;
    border: 1px solid #cf373c;
}

select[name="rentTime"] {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    color: #263238;
    cursor: pointer;

}

select[name="rentTime"]:hover {
    cursor: pointer;
}

select[name="station"] {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    color: #263238;
    cursor: pointer;
}

/* Submit button style */
input[type="submit"] {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 20px;
    line-height: 45px;
    border-radius: 15px;
    margin: 10px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #263238;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .2s;
    border: none;
}

input[type="submit"]:hover {
        background: #cf373c;
    text-decoration: none;
    box-shadow: 0 15px 20px rgba(0,0,0,0.08);
    color: white;
    cursor: pointer;
}


/*Table style*/
th {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}
.thead-dark {
    background-color: #263238;
}

/*Button in table style*/
.table-button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 15px;
    line-height: 35px;
    border-radius: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #263238;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .2s;
    border: none;
}

.table-button:hover {
    background: #cf373c;
    text-decoration: none;
    box-shadow: 0 15px 20px rgba(0,0,0,0.08);
    color: white;
}

/*Pagination buttons*/
.pagination-button {

}

.pagination-button ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.pagination-button ul li {
    list-style: none;
    margin: 0;
}

.pagination-button ul li a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 15px;
    line-height: 35px;
    border-radius: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #263238;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .2s;
    border: none;
}

.pagination-button ul li a:hover {
    background: #cf373c;
    text-decoration: none;
    box-shadow: 0 15px 20px rgba(0,0,0,0.08);
    color: white;
}


/*Navigation (admin menu) style*/
nav {
    margin: 0;
    padding: 10px 15px;
    list-style: none;
}
nav>ul {
    padding: 0;
}

nav>ul>li {
    display: inline-block;
    position: relative;
    margin: 0 5px;
   
}

.active:hover {
    border-bottom: none;
}

.active a {
    color: #cf373c;
    border-bottom: 1px solid #cf373c;
}

nav a {
    display: block;
    padding: 8px 10px;
    color: #263238;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    border-bottom: 1px solid #263238;
}
nav a:hover {
    text-decoration: none;
    color: #cf373c;
    border-bottom: 1px solid #cf373c;
}

nav .sub-menu {
    padding: 0;
    list-style: none;
    background: #cf373c;
    position: absolute;
    width: 150px;
    display: none;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
}

nav .sub-menu a {
    color: #ECEFF1;
    text-decoration: none;
    font-size: 18px;
     border: none;
}

nav .sub-menu a:hover {
    background-color: white;
    color: #263238;
    border-radius: 13px;
}


nav >ul> li:hover .sub-menu {
    display: block;
    position: absolute;
   
}

.container-fluid {
    margin-top: 30px;
}
/* Responsive */

@media (max-width: 480px) {

    input[type="text"] {
        width: 90%;
    }
}
