body {
    font-family: 'Karma', serif;
    font-size: 16px;
    color: black;
    background-color: #fff;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Pompiere', cursive;
    color: black;
}

h1 {
    font-size: 45px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-family: 'Karma', serif;
    font-size: 22px;
}

p {
    font-family: 'Rokkitt', serif;
    font-size: 16px;
 
}

.container-center {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.container-login {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 0 15px;
    position: relative;
    padding: 20px;
    text-align: center;
}



input[type="submit"] {
    font-family: 'Pompiere', cursive;
    padding: 10px 20px;
    font-size: 32px;
    background-color: #ae2948;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: black;
    color: white;
    border: 0 solid white;
    cursor: pointer;
}

.form-control {
    width: 100%;
    border: 2px dotted #ae3248;
}

.card-body {
    border-radius: 15px;
}
.card {
    margin-bottom: 10px;
}

button {
    font-family: 'Pompiere', cursive;
    padding: 5px 15px;
    font-size: 22px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

button:hover {
    background-color: #212529;
    color: white;
    border: 1px solid #212529;
    cursor: pointer;
}

button>a {
   color: black;
}

button>a:hover {
    color:white;
    background-color: #212529;
}

input[type="button"]  {
    font-family: 'Pompiere', cursive;
    padding: 10px 20px;
    font-size: 32px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
}

input[type="button"]:hover {
    background-color: black;
    color: white;
    border: 0 solid white;
    cursor: pointer;
}

form {
    margin-bottom: 0;
}

th {
text-transform: uppercase;
    padding: 10px;
}

select[name="rentTime"] {
    font-family: 'Rokkitt', serif;
    padding: 10px 20px;
    font-size: 22px;
    background-color: #ae3248;
    color: white;
    border: none;
    border-radius: 10px;
    
}

select[name="rentTime"]:hover {
    cursor: pointer;
    background-color: #212529;
}


option {
    padding: 5px;
}

td>form>input[type="submit"] {
    font-family: 'Rokkitt', serif;
    padding: 12px 20px;
    margin-left: 20px;
    font-size: 22px;
    background-color: #ae3248;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: normal;
}
td>form>input[type="submit"]:hover {
    background-color: #212529;
    color: white;
}
nav {
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    border: 1px solid #e5e5e5;
}

nav>ul>li {
    display: inline-block;
    position: relative;
}


nav a {
    display: block;
    padding: 8px 10px;
    color: #0088cc;
}

nav .sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fcf8e3;
    position: absolute;
    width: 150px;
    left: 1px;
    display: none;
}

nav >ul> li:hover .sub-menu {
    display: block;
}



