@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Open+Sans+Condensed:300,300i,700&subset=cyrillic,cyrillic-ext');

body {
    font-family: 'Karma', serif;
    font-size: 16px;
    color: black;
    background-color: #ECEFF1;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #263238;
}

h1 {
    font-size: 45px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-family: 'Karma', serif;
    font-size: 22px;
}

p {
    font-family: 'Rokkitt', serif;
    font-size: 16px;

}

.container-center {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
}

.container-login {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 0 15px;
    text-align: center;
}



input[type="submit"] {
    font-family: 'Pompiere', cursive;
    padding: 10px 20px;
    font-size: 32px;
    background-color: #ae2948;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.form-control {
    width: 100%;
    border: 2px dotted #ae3248;
}

.card-body {
    border-radius: 15px;
}
.card {
    margin-bottom: 10px;
    border: none;
    background-color: #ECEFF1;
}

.button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 20px;
    line-height: 45px;
    border-radius: 15px;
    margin: 10px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #263238;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .2s;
    border: none;
}

.button:hover {
    background: #cf373c;
    text-decoration: none;
    box-shadow: 0 15px 20px rgba(0,0,0,0.08);
    color: white;
    transform: translateY(-2px);
}


input[type="button"]  {
    font-family: 'Pompiere', cursive;
    padding: 10px 20px;
    font-size: 32px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
}

input[type="button"]:hover {
    background-color: black;
    color: white;
    border: 0 solid white;
    cursor: pointer;
}

form {
    margin-bottom: 0;
}

th {
    text-transform: uppercase;
    padding: 10px;
}

select[name="rentTime"] {
    font-family: 'Rokkitt', serif;
    padding: 10px 20px;
    font-size: 22px;
    background-color: #ae3248;
    color: white;
    border: none;
    border-radius: 10px;

}

select[name="rentTime"]:hover {
    cursor: pointer;
    background-color: #212529;
}


option {
    padding: 5px;
}

td>input[type="submit"] {
    font-family: 'Rokkitt', serif;
    padding: 12px 20px;
    font-size: 22px;
    background-color: #ae3248;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: normal;
}
td>input[type="submit"]:hover {
    background-color: #212529;
    color: white;
}

nav {
    margin: 0;
    padding: 10px 15px;
    list-style: none;
}

nav>ul>li {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    border-bottom: 1px solid #263238;
}

li .active {
    border-bottom: 1px solid #cf373c;
}

.active a {
    color: #cf373c;
}

nav a {
    display: block;
    padding: 8px 10px;
    color: #263238;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
}
nav a:hover {
    text-decoration: none;
    color: #cf373c;
}

nav .sub-menu {
    padding: 0;
    list-style: none;
    background: #cf373c;
    position: absolute;
    width: 150px;
    display: none;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
}

nav .sub-menu a {
    color: #ECEFF1;
    text-decoration: none;
    font-size: 18px;
}

nav .sub-menu a:hover {
    background-color: white;
    color: #263238;
    border-radius: 13px;
}


nav >ul> li:hover .sub-menu {
    display: block;
    position: absolute;
}

.container-fluid {
    margin-top: 30px;
}