<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation= "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <welcome-file-list>
        <welcome-file>/jsp/common/main.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <location>/jsp/error/error.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>com.epam.bikeRetail.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>

    <filter>
        <description>Encoding parameter to UTF-8</description>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.epam.bikeRetail.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>encodingType</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>SecurityPageRedirect</filter-name>
        <filter-class>com.epam.bikeRetail.filters.PageSecurityFilter</filter-class>
        <init-param>
            <param-name>MAIN_PAGE</param-name>
            <param-value>/jsp/common/main.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SecurityPageRedirect</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SecurityCommand</filter-name>
        <filter-class>com.epam.bikeRetail.filters.CommandSecurityFilter</filter-class>
        <init-param>
            <param-name>MAIN_PAGE</param-name>
            <param-value>/jsp/common/main.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SecurityCommand</filter-name>
        <url-pattern>/Controller</url-pattern>
    </filter-mapping>

</web-app>